<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Inference</title>
</head>
<body>
    <h1>Lungs X-ray Pneumonia Classification</h1>
    <h3>Upload an X-ray Image for Inference, Then press 'Predict'</h3>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <br><br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>